<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js">
</script>
<link href="css/ground.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="groundController">

	<div>

		<div id="middle">

			<table width='200px'>
				<tr>
					<td><button ng-click='woodAdd()'>Collect Wood</button></td>
				</tr>
				<tr>
					<td><button ng-click='iron()'>Collect Iron</button></td>
				</tr>
				<tr>
					<td><button ng-click='wool()'>Collect Wool</button></td>
				</tr>
				<tr>
					<td><button ng-click='stone()'>Collect Stone</button></td>
				</tr>
				<tr>
					<td><button ng-click='human()'>Collect Human</button></td>
				</tr>
				<tr>
					<td><button ng-click='meat()'>Collect Meat</button></td>
				</tr>
				<tr>
					<td><button ng-click='teeth()'>Collect Teeth</button></td>
				</tr>
				<tr>
					<td><button ng-click='scales()'>Collect Scales</button></td>
				</tr>
				<tr>
					<td><button ng-click='bait()'>Collect Bait</button></td>
				</tr>

			</table>
		</div>



	</div>
</body>
</html>